<section class="section feedbacks" id="feedbacks">
  <div class="container container-feedbacks">
    <div class="feedback-box">
      <h2 class="title feedback-title">
        What Our<br />
        Customers Say
      </h2>
      <p class="feedback-title-text">
        We’re proud to grow a community that values health, sustainability, and
        real flavor. Read what our happy customers have to say about their
        experience with our organic products.
      </p>
    </div>
    <ul class="feedback-list">
      <li class="feedback-list-element">
        <div class="feedback-stars-list">
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
        </div>
        <div class="feedback-list-element-person">
          <p class="feedback-list-element-text">
            Their eco-friendly packaging is a big plus for me. Highly recommend!
          </p>
        </div>
        <div class="feedback-list-element-person-info">
          <img
            class="feedback-list-element-img"
            srcset="
              ./img/feedback/feedback-avatar-1.jpg    1x,
              ./img/feedback/feedback-avatar-1@2x.jpg 2x
            "
            src="./img/feedback/feedback-avatar-1.jpg"
            loading="lazy"
            height="48"
            width="48"
            alt="Tony Lee"
          />
          <h3 class="feedback-list-element-name">Tony Lee</h3>
        </div>
      </li>
      <li class="feedback-list-element">
        <div class="feedback-stars-list">
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
        </div>
        <div class="feedback-list-element-person">
          <p class="feedback-list-element-text">
            "I absolutely love the variety of organic produce available here.
            Everything is fresh and bursting with flavor!"
          </p>
        </div>
        <div class="feedback-list-element-person-info">
          <img
            class="feedback-list-element-img"
            srcset="
              ./img/feedback/feedback-avatar-2.jpg    1x,
              ./img/feedback/feedback-avatar-2@2x.jpg 2x
            "
            src="./img/feedback/feedback-avatar-2.jpg"
            loading="lazy"
            height="48"
            width="48"
            alt="Emily Johnson"
          />
          <h3 class="feedback-list-element-name">Emily Johnson</h3>
        </div>
      </li>
      <li class="feedback-list-element">
        <div class="feedback-stars-list">
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-blank" width="20" height="19">
            <use href="./img/icons.svg#star-empty"></use>
          </svg>
        </div>
        <div class="feedback-list-element-person">
          <p class="feedback-list-element-text">
            "The staff is incredibly knowledgeable and always willing to help me
            find what I need. Great service!"
          </p>
        </div>
        <div class="feedback-list-element-person-info">
          <img
            class="feedback-list-element-img"
            srcset="
              ./img/feedback/feedback-avatar-3.jpg    1x,
              ./img/feedback/feedback-avatar-3@2x.jpg 2x
            "
            src="./img/feedback/feedback-avatar-3.jpg"
            loading="lazy"
            height="48"
            width="48"
            alt="Michael Smith"
          />
          <h3 class="feedback-list-element-name">Michael Smith</h3>
        </div>
      </li>
      <li class="feedback-list-element">
        <div class="feedback-stars-list">
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
        </div>
        <div class="feedback-list-element-person">
          <p class="feedback-list-element-text">
            "I've noticed a significant improvement in my health since switching
            to their organic products. Highly recommend!"
          </p>
        </div>
        <div class="feedback-list-element-person-info">
          <img
            class="feedback-list-element-img"
            srcset="
              ./img/feedback/feedback-avatar-4.jpg    1x,
              ./img/feedback/feedback-avatar-4@2x.jpg 2x
            "
            src="../img/feedback/feedback-avatar-4.jpg"
            loading="lazy"
            height="48"
            width="48"
            alt="Sarah Davis"
          />
          <h3 class="feedback-list-element-name">Sarah Davis</h3>
        </div>
      </li>
      <li class="feedback-list-element">
        <div class="feedback-stars-list">
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-blank" width="20" height="19">
            <use href="./img/icons.svg#star-empty"></use>
          </svg>
          <svg class="feedback-star-blank" width="20" height="19">
            <use href="./img/icons.svg#star-empty"></use>
          </svg>
        </div>
        <div class="feedback-list-element-person">
          <p class="feedback-list-element-text">
            "The range of organic snacks is fantastic! Perfect for my kids, who
            love them and I feel good about giving them healthy options."
          </p>
        </div>
        <div class="feedback-list-element-person-info">
          <img
            class="feedback-list-element-img"
            srcset="
              ./img/feedback/feedback-avatar-5.jpg    1x,
              ./img/feedback/feedback-avatar-5@2x.jpg 2x
            "
            src="./img/feedback/feedback-avatar-5.jpg"
            loading="lazy"
            height="48"
            width="48"
            alt="David Brown"
          />
          <h3 class="feedback-list-element-name">David Brown</h3>
        </div>
      </li>
      <li class="feedback-list-element">
        <div class="feedback-stars-list">
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-blank" width="20" height="19">
            <use href="./img/icons.svg#star-empty"></use>
          </svg>
        </div>
        <div class="feedback-list-element-person">
          <p class="feedback-list-element-text">
            "I appreciate that they source local ingredients. It makes me feel
            connected to the community!"
          </p>
        </div>
        <div class="feedback-list-element-person-info">
          <img
            class="feedback-list-element-img"
            srcset="
              ./img/feedback/feedback-avatar-6.jpg    1x,
              ./img/feedback/feedback-avatar-6@2x.jpg 2x
            "
            src="./img/feedback/feedback-avatar-6.jpg"
            loading="lazy"
            height="48"
            width="48"
            alt="Jessica Wilson"
          />
          <h3 class="feedback-list-element-name">Jessica Wilson</h3>
        </div>
      </li>
      <li class="feedback-list-element">
        <div class="feedback-stars-list">
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-blank" width="20" height="19">
            <use href="./img/icons.svg#star-empty"></use>
          </svg>
          <svg class="feedback-star-blank" width="20" height="19">
            <use href="./img/icons.svg#star-empty"></use>
          </svg>
        </div>
        <div class="feedback-list-element-person">
          <p class="feedback-list-element-text">
            "The prices are fair for the quality of food. I never feel guilty
            about spending a little more here."
          </p>
        </div>
        <div class="feedback-list-element-person-info">
          <img
            class="feedback-list-element-img"
            srcset="
              ./img/feedback/feedback-avatar-7.jpg    1x,
              ./img/feedback/feedback-avatar-7@2x.jpg 2x
            "
            src="./img/feedback/feedback-avatar-7.jpg"
            loading="lazy"
            height="48"
            width="48"
            alt="Andrew Lee"
          />
          <h3 class="feedback-list-element-name">Andrew Lee</h3>
        </div>
      </li>
      <li class="feedback-list-element">
        <div class="feedback-stars-list">
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-full" width="20" height="19">
            <use href="./img/icons.svg#star-black"></use>
          </svg>
          <svg class="feedback-star-blank" width="20" height="19">
            <use href="./img/icons.svg#star-empty"></use>
          </svg>
          <svg class="feedback-star-blank" width="20" height="19">
            <use href="./img/icons.svg#star-empty"></use>
          </svg>
          <svg class="feedback-star-blank" width="20" height="19">
            <use href="./img/icons.svg#star-empty"></use>
          </svg>
        </div>
        <div class="feedback-list-element-person">
          <p class="feedback-list-element-text">
            "Their eco-friendly packaging is a big plus for me. It's nice to
            support a business that cares about the environment!"
          </p>
        </div>
        <div class="feedback-list-element-person-info">
          <img
            class="feedback-list-element-img"
            srcset="
              ./img/feedback/feedback-avatar-8.jpg    1x,
              ./img/feedback/feedback-avatar-8@2x.jpg 2x
            "
            src="./img/feedback/feedback-avatar-8.jpg"
            loading="lazy"
            height="48"
            width="48"
            alt="Laura Kim"
          />
          <h3 class="feedback-list-element-name">Laura Kim</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
