<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <a href="#home" class="footer__logo" aria-label="Organic Shop Home">
        <svg
          class="footer__logo-icon"
          width="142"
          height="60"
          aria-hidden="true"
        >
          <use xlink:href="img/icons.svg#LOGOHEADER"></use>
        </svg>
      </a>
      <nav class="footer__nav" aria-label="Footer navigation">
        <ul class="footer__nav-list">
          <li><a class="footer__nav-link" href="#home">Home</a></li>
          <li><a class="footer__nav-link" href="#mission">Mission</a></li>
          <li><a class="footer__nav-link" href="#benefits">Benefits</a></li>
          <li><a class="footer__nav-link" href="#assorts">Assortment</a></li>
          <li><a class="footer__nav-link" href="#feedbacks">Feedbacks</a></li>
          <li><a class="footer__nav-link" href="#faq">FAQ</a></li>
          <li><a class="footer__nav-link" href="#contacts">Contacts</a></li>
        </ul>
      </nav>

      <ul class="footer__socials" aria-label="Social media">
        <li>
          <a
            class="footer__social-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg
              class="footer__social-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use xlink:href="img/icons.svg#icon-Facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer__social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg
              class="footer__social-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use xlink:href="img/icons.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer__social-link"
            href="https://www.linkedin.com/login"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <svg
              class="footer__social-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use xlink:href="img/icons.svg#icon-LinkedIn"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer__social-link"
            href="https://x.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="X"
          >
            <svg
              class="footer__social-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use xlink:href="img/icons.svg#icon-X"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer__social-link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
          >
            <svg
              class="footer__social-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use xlink:href="img/icons.svg#icon-Youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__divider" aria-hidden="true"></div>
    <p class="footer__copyright">© 2025 Organic Shop. All rights reserved.</p>
  </div>
</footer>
