<section class="mission section" id="mission" aria-labelledby="mission-title">
  <div class="container mission-container">
    <div class="mission-top">
      <h2 class="mission-title title" id="mission-title">
        Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
      </h2>

      <p class="mission-text">
        At Organic Shop, we believe in the power of nature. Our mission is to
        provide you with fresh, locally sourced organic products that nourish
        both body and soul. We partner with ethical farmers who share our
        commitment to sustainability and quality.
      </p>
    </div>

    <picture class="mission-picture">
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/mission/mission-image-desktop-1x.jpg 1x,
          ./img/mission/mission-image-desktop-2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/mission/mission-image-tablet-1x.jpg 1x,
          ./img/mission/mission-image-tablet-2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/mission/mission-image-mobile-1x.jpg 1x,
          ./img/mission/mission-image-mobile-2x.jpg 2x
        "
      />

      <img
        class="mission-image"
        src="./img/mission/mission-image-mobile-1x.jpg"
        srcset="
          ./img/mission/mission-image-mobile-1x.jpg 1x,
          ./img/mission/mission-image-mobile-2x.jpg 2x
        "
        alt="Four people preparing fresh organic food together"
        width="343"
        height="203"
      />
    </picture>
  </div>
</section>