.section-contacts {
  background-color: rgba(232, 238, 229, 1);
}

@media only screen and (min-width: 1440px) {
  .container-contacts {
    
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }
    .content {
      width: 50%;
    }
}

.subtitle-contacts {
  font-weight: 600;
  margin-bottom: 16px;
}
.title-contacts {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}
.description-contacts {
  font-size: 18px;

  margin-bottom: 32px;
}
.contact-address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
.list {
  font-size: 16px;
  line-height: 1.5;
  
  color: rgba(1, 4, 0, 1);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: color 220ms ease;
}
.list:hover,
.list:focus {
  color: rgba(1, 4, 0, 0.5);
}
.list:active {
  color: rgba(1, 4, 0, 0.6);
}
.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contacts-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.contacts-input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgba(1, 4, 0, 0.15);
  background-color: rgba(232, 238, 229, 1);
  color: rgba(1, 4, 0, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
  margin-top: 8px;
}
.contact-list-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contact-list-icon {
  flex-shrink: 0;
}
.text-invalid {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: red;
  display: none;
}
.contacts-input:not(:placeholder-shown):invalid {
  color: red;
  border-bottom: 1px solid red;
}
.contacts-input:not(:placeholder-shown):invalid~.text-invalid {
  display: block;
}
 
.contacts-form-messager {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.contacts-messege {
  width: 100%;
  border: 1px solid rgba(1, 4, 0, 0.15);
  background-color: rgba(232, 238, 229, 1);
  outline: none;
  color: rgba(1, 4, 0, 1);
  padding: 12px 12px 0 12px;
  resize: none;
  
}
.contacts-messege:invalid {
  color: red;
  border-color: red;
}
.contacts-btn-submit {
  border: 1px solid #1a5901;
  border-radius: 6px;
  padding-block: 6px;
  padding-inline: 12px;
  width: 100%;
  height: 40px;
  margin-bottom: 32px;
  background-color: #1a5901;
  transition:
  background-color 220ms ease,
  color 220ms ease;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  
}

@media only screen and (min-width: 768px) {
  .contacts-btn-submit {
    width: 343px;
    height: 36px;
  }

     .contacts-photo {
       width: 100%;
       height: auto;
       margin-top: 24px;
     }
}


@media only screen and (min-width: 1440px) {
  .contacts-photo {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-bottom: 0;
  }

  .contacts-btn-submit {
    width: 198px;
    height: 36px;
  }

  .contacts-btn-submit:hover,
  .contacts-btn-submit:focus {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    color: rgba(1, 4, 0, 1);
        }
}



