.mission {
  background-color: #5e8a4d;
}

.mission-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mission-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mission-title {
  margin: 0;
 
  color: #ffffff;
  font-size: 36px;
  line-height: 1.2;
  
}

.mission-text {
  margin: 0;
  
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  
}

.mission-picture {
  display: block;
  
}

.mission-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .mission-top {
    display: grid;
    grid-template-columns: 340px 340px;
    gap: 24px;
    align-items: start;
  }

  .mission-title {
    
    font-size: 36px;
  }

  .mission-text {
    
    font-size: 18px;
  }

  
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .mission-container {
    gap: 80px;
  }

  .mission-top {
    grid-template-columns: 644px 644px;
    gap: 24px;
  }

  .mission-title {
    
    font-size: 48px;
  }

  .mission-text {
   
    font-size: 18px;
  }

  
}